<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/editorSettings.css" />
    <title>编辑器配置</title>
  </head>
  <body>
    <div id="header">
      <img src="../../asset/settings_icon.png" id="logo" />
      编辑器配置
    </div>

    <div class="options">
      <label for="font-size">Font Size: <input id="font-size" type="number" /></label>
      <br />
      <label for="theme"
        >Theme:
        <select id="theme"></select>
      </label>
      <button id="btn-confirm">确认修改</button>
    </div>
  </body>
  <script src="../script/editorSettings.js"></script>
</html>
