<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Minisys IDE</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <div class="toolbar" id="toolbar">
      <div class="left">
        <img id="new-file" draggable="false" src="../../asset/newFile_icon.png" title="新建文件" />
        <img id="save" draggable="false" src="../../asset/save_icon.png" title="保存文件" />
        <img id="save-as" draggable="false" src="../../asset/saveAs_icon.png" title="另存为" />
      </div>
      <div class="right">
        <img id="magic-click" draggable="false" src="../../asset/magicClick_icon.png" title="一键执行" />
        <img id="compile" draggable="false" src="../../asset/compile_icon.png" title="编译" />
        <img id="assembly" draggable="false" src="../../asset/assembly_icon.png" title="汇编" />
        <img id="serial" draggable="false" src="../../asset/serial_icon.png" title="串口烧录" />
      </div>
    </div>
    <div class="container">
      <div id="sidebar">
        <div id="opened-view"></div>
        <div style="border-bottom: 3px solid gray; width: 720px; position: absolute; left: 0"></div>
        <div style="margin-bottom: 10px"></div>
        <div style="position: absolute; left: 10px">
          <img
            src="../../asset/refresh_low_icon.png"
            id="refresh"
            title="刷新"
            style="width: 16px; height: auto; margin-right: 5px"
          />
          <img
            src="../../asset/newFile_low_icon.png"
            id="newFile"
            title="新建文件"
            style="width: 16px; height: auto; margin-right: 5px"
          />
          <img
            src="../../asset/newFolder_low_icon.png"
            id="newFolder"
            title="新建文件夹"
            style="width: 16px; height: auto; margin-right: 5px"
          />
          <img
            src="../../asset/open_cur_folder_icon.png"
            id="openCurFolder"
            title="打开文件夹"
            style="width: 16px; height: auto; margin-right: 5px"
          />
        </div>
        <div style="margin-top: 30px"></div>
        <span id="current-path">未打开任何目录</span>
        <div id="tree-view"></div>
      </div>
      <div id="editor"></div>
    </div>
    <div id="console">
      <div>
        <img src="../../asset/close_icon.png" class="icon" id="btn-exit"/>
        <span>终端输出：</span>
        <img src="../../asset/rubbishbin_icon.png" class="icon" id="btn-rubbish"/>
      </div>
      <textarea name="output" id="output" cols="65" rows="15" readonly></textarea>
    </div>
  </body>
  <script src="../../lib/ace/ace.js"></script>
  <script src="../../lib/ace/ext-language_tools.js"></script>
  <script>
    require('../script/initAll.js')
    document.querySelector('#btn-exit').onclick = () => {
      document.querySelector('#console').style.display = 'none'
    }
    document.querySelector('#btn-rubbish').onclick = () => {
      document.querySelector('#output').value = ''
    }
    require('../script/editor.js')
    require('../script/contextmenu.js')
  </script>
</html>
