<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Minisys IDE</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <div class="toolbar" id="toolbar">
      <span class="left">
        <img id="new-file" draggable="false" src="../../asset/newFile_icon.png" title="新建文件" />
        <img id="save" draggable="false" src="../../asset/save_icon.png" title="保存文件" />
        <img id="save-as" draggable="false" src="../../asset/saveAs_icon.png" title="另存为" />
      </span>
      <span class="right">
        <img id="magic-click" draggable="false" src="../../asset/magicClick_icon.png" title="一键执行" />
        <img id="compile" draggable="false" src="../../asset/compile_icon.png" title="编译" />
        <img id="assembly" draggable="false" src="../../asset/assembly_icon.png" title="汇编" />
        <img id="serial" draggable="false" src="../../asset/serial_icon.png" title="串口烧录" />
      </span>
    </div>
    <div class="container">
      <div id="sidebar">
        <div id="opened-view"></div>
        <hr />
        <p id="current-path">未打开任何目录</p>
        <div id="tree-view"></div>
      </div>
      <div id="editor"></div>
    </div>
  </body>
  <script src="../../lib/ace/ace.js"></script>
  <script src="../../lib/ace/ext-language_tools.js"></script>
  <script>
    require('../script/editor.js')
  </script>
  <script>
    require('../script/contextmenu.js')
  </script>
</html>
