<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/toolchainSettings.css" />
    <title>工具链配置</title>
  </head>
  <body>
    <div id="header">
      <img draggable="false" src="../../asset/settings_icon.png" id="logo" />
      <span id="title">工具链配置</span>
    </div>
    <div class="options">
      <div class="ribbon">
        <label id="label" for="input"
          >编译器路径：
          <div id="input" name="compiler-path"></div>
          <button class="btn-path" id="btn-compiler-path">选择文件</button>
        </label>
      </div>
      <div class="ribbon">
        <label id="label" for="input"
          >汇编器路径：
          <div id="input" name="assembler-path"></div>
          <button class="btn-path" id="btn-assembler-path">选择文件</button>
        </label>
      </div>
      <button class="btn-xx" id="btn-confirm">确认修改</button>
      <button class="btn-xx" id="btn-quit">放弃修改</button>
    </div>
  </body>
  <script>
    require('../script/toolchainSettings.js')
  </script>
</html>
