body {
  width: 100%;
  height: 100%;
  align-content: center;
}

.options {
  width: 100%;
  display: flex;
  background-color: aquamarine;
  text-align: center;
  #font {
    width: 100%;
    #Label {
      width: 10%;
      background-color: blueviolet;
    }
    #fontSize {
      width: 100%;
    }
  }
  #theme {
    width: 100%;
    #Label {
      width: 20%;
    }
    #theme {
      width: 100%;
    }
  }

  #confirmBtn {
    width: 100%;
  }
}
