* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-content: center;
}
html {
  border: 2px solid gray;
}
#header #logo {
  width: 32px;
  height: auto;
}
.options {
  width: auto;
  background-color: aquamarine;
  text-align: center;
  margin: 0 auto;
}
.options #font {
  width: 100%;
}
.options #font label {
  width: 10%;
  background-color: blueviolet;
}
.options #font #font-size {
  width: 100%;
}
.options #theme {
  width: auto;
}
.options #theme li {
  border-radius: 50%;
}
.options #confirmBtn {
  width: 100%;
}
