* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.toolbar {
  height: 50px;
  width: 100%;
  background-color: rgb(252, 243, 175);
  img {
    height: 36px;
    margin-top: 7px;
  }
  img:hover {
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer;
  }
  .left {
    float: left;
    margin-left: 14px;
    img {
      margin-right: 14px;
    }
  }
  .right {
    float: right;
    margin-right: 14px;
    img {
      margin-left: 14px;
    }
  }
}

.container {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  #sidebar {
    width: 250px;
    height: 100%;
    background-color: rgb(176, 210, 224);
  }
  #editor {
    flex: 1;
    height: 100%;
  }
}

#sidebar {
  user-select: none;
  #opened-view {
    margin-top: 5px;
  }
  #current-path {
    margin: 5px;
  }
  ul {
    margin-left: 0;
  }
  li {
    padding-left: 12px;
    list-style: none;
    line-height: 1.75 * 14px;
    span {
      // file name display
      display: inline-block;
      width: calc(100% - 24px);
      height: 100%;
      font-size: 14px;
      font-family: 'Consolas', monospace;
      &:hover {
        cursor: pointer;
        background: #ccc;
      }
    }
  }
  .file-icon {
    width: 16px;
    height: 16px;
  }
}

