* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.toolbar {
  height: 50px;
  width: 100%;
  background-color: #fcf3af;
}
.toolbar img {
  height: 36px;
  margin-top: 7px;
}
.toolbar img:hover {
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}
.toolbar .left {
  float: left;
  margin-left: 14px;
}
.toolbar .left img {
  margin-right: 14px;
}
.toolbar .right {
  float: right;
  margin-right: 14px;
}
.toolbar .right img {
  margin-left: 14px;
}
.container {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
}
.container #sidebar {
  width: 250px;
  height: 100%;
  background-color: #b0d2e0;
}
.container #editor {
  flex: 1;
  height: 100%;
}
#sidebar ul {
  margin-left: 0;
}
#sidebar li {
  padding-left: 12px;
  list-style: none;
  line-height: 24.5px;
}
#sidebar li span {
  display: inline-block;
  width: calc(100% - 24px);
  height: 100%;
  font-size: 14px;
  font-family: 'Consolas', monospace;
}
#sidebar li span:hover {
  cursor: pointer;
  background: #ccc;
}
#sidebar .file-icon {
  width: 16px;
  height: 16px;
}
