* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  align-content: center;
  user-select: none;
  font-family: 'Consolas', monospace;
}
html {
  border: 2px solid gray;
}
#header #logo {
  width: 32px;
  height: auto;
}
#header #title {
  font-size: 28px;
}
.options {
  width: auto;
  background-color: #B3E5FC;
  text-align: center;
  margin: 0 auto;
}
.options .ribbon {
  width: 100%;
  height: 30px;
  background-color: #FFF9C4;
  margin-bottom: 16px;
}
.options .ribbon #label {
  font-size: 24px;
}
.options .ribbon #input {
  display: inline-block;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 16px;
  resize: none;
}
.options .btn-xx {
  margin-bottom: 48px;
  margin-left: 16px;
  margin-right: 16px;
  width: 90px;
  height: 48px;
  font-size: 16px;
}
